<div class="row">
  <h2 class="text-center">Login</h2>
  <div class="col-md-6 offset-md-3">
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          [(ngModel)]="userName"
          name="username"
        />
      </div>
      <p>
        Username: <strong> {{userName}} </strong>
      </p>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="password"
          name="password"
        />
      </div>
      <p>
        Password: <strong> {{password}} </strong>
      </p>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
